body {
    width:295px;
}
button {
    display: block;
    width: 280px;
    min-height: 50px;
    margin-top: 5px;
    padding: 2px;
    word-break: keep-all;
}
.button__subject {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}
.button__description {
    margin: 5px 0;
    text-indent: 10px;
    text-align: left;
    font-size: 0.9rem;
}
.button__linkContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    font-style: italic;
}